<ion-header [translucent]="true" class="color">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-u"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Usuário</ion-title >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="box-container">
    <div class="box">
      <ion-input  label="Nome" type="text" aria-label="primary" color="primary" label-placement="floating" fill="outline" placeholder="" [(ngModel)]="name"></ion-input>
    </div>
    <div class="box">
      <ion-input [(ngModel)]="email" label="Email" type="email" aria-label="primary" color="primary" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </div>
    <div class="box">
      <ion-input [(ngModel)]="password" label="Senha" type="password" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </div>

    <div class="btn">
    <ion-button (click)="register()" class="btnEntrar" expand="full">
      Cadastre-se
    </ion-button>
  </div>
  <ion-text color="danger" *ngIf="errorMessage"><p>{{errorMessage}}</p></ion-text>
  </div>
</ion-content>
